<h1 mat-dialog-title>{{data.isAddMode ? 'Add row' : 'Edit row'}}</h1>
<div mat-dialog-content>
    <span *ngFor="let column of rowDialogData.columns; let i = index;" [ngSwitch]="column.type">
        <p class="form-field" *ngSwitchCase="'string'">
            <mat-form-field>
                <mat-label>{{column.name}}</mat-label>
                <input matInput [formControl]="formGroup.get(column.name)">
            </mat-form-field>
        </p>
        <span *ngSwitchCase="'number'">
            <p class="form-field" *ngIf="!column.isPrimaryKey">
                <mat-form-field>
                    <mat-label>{{column.name}}</mat-label>
                    <input matInput [formControl]="formGroup.get(column.name)" type="number">
                </mat-form-field>
            </p>
        </span>
        <p class="form-field" *ngSwitchCase="'date'">
            <mat-form-field>
                <mat-label>{{column.name}}</mat-label>
                <input matInput [formControl]="formGroup.get(column.name)" type="datetime-local">
                <!-- <input matInput [formControl]="formGroup.get(column.name)" [matDatepicker]="myDatepicker"> -->
                <!-- <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                <mat-datepicker #myDatepicker></mat-datepicker> -->
            </mat-form-field>
        </p>
        <p class="form-field" *ngSwitchCase="'boolean'">
            <mat-checkbox [formControl]="formGroup.get(column.name)">{{column.name}}</mat-checkbox>
        </p>
        <p class="form-field" *ngSwitchCase="'parking-ticket-status'">
            <mat-form-field>
                <mat-label>{{column.name}}</mat-label>
                <mat-select [formControl]="formGroup.get(column.name)">
                    <mat-option *ngFor="let status of parkingStatusEnum" [value]="status">
                        {{status}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </p>
        <p class="form-field" *ngSwitchCase="'payment-status'">
            <mat-form-field>
                <mat-label>{{column.name}}</mat-label>
                <mat-select [formControl]="formGroup.get(column.name)">
                    <mat-option *ngFor="let status of paymentStatusEnum" [value]="status">
                        {{status}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </p>
        <p class="form-field" *ngSwitchCase="'foreign-key'">
            <mat-form-field>
                <mat-label>{{column.name}}</mat-label>
                <mat-select [formControl]="formGroup.get(column.name)">
                    <mat-option *ngFor="let status of foreignKeys[column.foreignTableName]" [value]="status.id">
                        {{status.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </p>
        <p class="form-field" *ngSwitchDefault>
            <input matInput [formControl]="formGroup.get(column.name)" style="visibility: hidden;">
            <span>Column type not supported: {{column.type}}</span>
        </p>
    </span>
</div>
<div mat-dialog-actions style="margin-bottom: 5px;">
    <button mat-button (click)="confirm()" mat-raised-button color="primary">Save</button>
</div>